<h2>Monitorily Reports</h2>
<br />
<div class= "row">
<div class= "col-md-10">

Filter: <input type="text" ng-model="orderFilter.campaing" />
<br /><br />
</div>
<div class= "col-md-2">

<button class="btn btn-primary pull-right" id="zip" ng-click='go()' >ZIP Download</button>
</div>
</div>
<div class="allreports">
<table class="table">
    <tr>
        <th>Campaign</th>
        <th>Site</th>
        <th>Location</th>
        <th>Media Type</th>
        <th>Assigned To</th>
        <th>Due Date</th>
        <th>Status</th>
        <th>Photo</th>
    </tr>
    <tr ng-repeat="order in orders | filter:orderFilter | orderBy:'name'" class="repeat-animation">
        <td>{{ order.campaing }}</td>
        <td>{{ order.site }}</td>
        <td>{{ order.location }}</td>
        <td>BillBoard</td>
        <td>{{ order.assignedto }}</td>
        <td>{{ order.duedate }}</td>
        <td>{{ order.status }}</td>
        <td><a href=""> view</a></td>
    </tr>
</table>
</div>