
<div class="row map-view" style="background-color: #ebedee;margin-left:-12px">
	<div class="col-md-8">

<iframe width="100%" height="800" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=10&center=19.0760%2C72.8777&key=AIzaSyDTrpCmG8QSf2bf8ICME9dC0NH7Me_L4rg"></iframe>

	</div>
<div class="col-md-4" id="site-list-container" style="height: 700px;">
    <div class="list-container">
                <div class="action-buttons">
                    <button class="btn btn-primary" onclick="location.href='<?php echo Yii::app()->urlManager->createUrl('site/addvendor'); ?>'">Add Sites</button>
                </div>
                <div class="list-tools">
                    <ul>
                        <li>
                            <input type="text" placeholder="Search" ng-model="search">
                        </li>
                        <li class="map-view-icon active pull-right"></li>
                        <li class="spreadsheet-view-icon pull-right"></li>
                    </ul>
                </div>
                <div class="list" >
                    <ul id="site-list" infinite-scroll='reddit.nextPage(1)' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='9'>
                        <li class="list-item" data-ng-repeat="banner in products | filter:search" ng-animate="'animate'">
                            <div class="pull-left site-thumb" style="background-image: {{banner.thumbnail}}"></div>
                            <div class="site-details">
                                <h3>{{banner.name}}</h3>
                                <h5><span>{{banner.lighting}} </span>{{banner.mediatype}} &nbsp; &nbsp; {{banner.width}} x {{banner.height}} {{banner.sizeunit}}</h5>
                                <h4>{{banner.companyname}}</h4>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
            </div>  
     <div ng-show='reddit.busy'>
        <center><img src="images/loader.gif"> </center>                 
</div>
            
                
          </div>

          	</div>


<table class="table table-striped">
    <tr>
        <th>Product</th>
        <th>Total</th>
    </tr>
    <tr ng-repeat="order in customer.orders" class="repeat-animation">
        <td>{{ order.product }}</td>
        <td>{{ order.total | currency }}</td>
    </tr>
</table>