<h2>User List</h2>
<br />
Filter: <input type="text" ng-model="customerFilter.name" />
<br /><br />

<table class="table table-striped">
    <tr>
        <th ng-click="doSort('name')">User name</th>
        <th ng-click="doSort('city')">Location</th>
        <th ng-click="doSort('orderTotal')">Organization</th>
        <th ng-click="doSort('joined')">Last Activity</th>
        <th>Orders</th>
        <th>&nbsp;</th>
    </tr>
    <tr ng-repeat="cust in customers | filter:customerFilter | orderBy:sortBy:reverse" class="repeat-animation">
        <td>{{ cust.name }}</td>
        <td>{{ cust.city }}</td>
        <td>Eatads</td>
        <td>{{ cust.joined | date }}</td>
        <td><a href="#/orders/{{ cust.id }}">User Settings</a></td>
        <td class="center"><span class="glyphicon glyphicon-remove delete" ng-click="deleteCustomer(cust.id)"></span></td>
    </tr>
</table>
<br />
<span>Total Users: {{ customers.length }}</span>
<br /><br />
<footer>Version: {{ appSettings.version }} </footer>